body {
  	font-family: "Arial", "Georgia", sans-serif;
	color: #8ED4E6;
  	background-color: #4051B5;
  	background-image: url("11.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: fixed;
} 
em{
	font-size: 1.8em;
	text-shadow: -2px 2px #ACACAC;
}

dl{
	font-size: 75%;
	color:#FDFD1B;
}

dt{
	font-weight: bold;
}

p:first-letter{
	font-weight: bold;
	font-size: 150%;
}
ins{
	color:#10FF10;
	text-decoration: none;
}
ins:hover {
	font-weight: bold;
}

del{
	color:#FF3636;
}

h1{
	color:#91D8C2;
	text-align: center;
}

h2{
	color:#91D8C2;
}

table, td, th {
	border: 2px solid #8ED4E6;
}
table {
	border-collapse: collapse;
}
tr:nth-child(4){
	background-color: white;
}
caption{
	text-align: right;
}

ol{
	list-style-type: lower-greek;
}

img {
	width: 300px;
	height: 300px;
}

a img {
	width: auto;
	height: auto;
}